U0001.json
[{"id":"5101e40c.661f1c","type":"tab","label":"强电","disabled":false,"info":""},{"id":"535082c2.740cec","type":"comment","z":"5101e40c.661f1c","name":"数据交互","info":"","x":260,"y":100,"wires":[]},{"id":"f82155db.f2ba98","type":"debug","z":"5101e40c.661f1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1530,"y":300,"wires":[]},{"id":"85f70c5d.87267","type":"function","z":"5101e40c.661f1c","name":"发送响应处理","func":"var str = msg.payload.toString();\nvar arr = str.split(\",\");\nvar status1 = 0;\nvar status2 = 0;\nvar status3 = 0;\nvar status4 = 0;\nvar status5 = 0;\nvar status6 = 0;\nvar status7 = 0;\nvar status8 = 0;\nvar status9 = 0;\nvar status10 = 0;\nvar status11 = 0;\nvar status12 = 0;\nvar status13 = 0;\nvar status14 = 0;\nvar status15 = 0;\nvar status16 = 0;\nvar msg1 = null, msg2 = null;\n\nvar status = global.get(\"switch\");\n\nif (\"RELAY-SET-255\" == arr[0]) {\n    \n    msg1 = {payload:\"\\{status\\: \\\"ok\\\"\\}\"};\n    \n    return [msg1,msg2];\n    \n} else if (\"RELAY-STATE-255\" == arr[0]) {\n    if (status != arr[1]*256 + arr[2]) {\n        global.set(\"switch\",arr[1]*256 + arr[2]);\n        if (arr[2] & 1) {\n            status1 = 1;\n        }\n        if (arr[2] & 2) {\n            status2 = 1;\n        }\n        if (arr[2] & 4) {\n            status3 = 1;\n        }\n        if (arr[2] & 8) {\n            status4 = 1;\n        }\n        if (arr[2] & 16) {\n            status5 = 1;\n        }\n        if (arr[2] & 32) {\n            status6 = 1;\n        }\n        if (arr[2] & 64) {\n            status7 = 1;\n        }\n        if (arr[2] & 128) {\n            status8 = 1;\n        }\n        \n        if (arr[1] & 1) {\n            status9 = 1;\n        }\n        if (arr[1] & 2) {\n            status10 = 1;\n        }\n        if (arr[1] & 4) {\n            status11 = 1;\n        }\n        if (arr[1] & 8) {\n            status12 = 1;\n        }\n        if (arr[1] & 16) {\n            status13 = 1;\n        }\n        if (arr[1] & 32) {\n            status14 = 1;\n        }\n        if (arr[1] & 64) {\n            status15 = 1;\n        }\n        if (arr[1] & 128) {\n            status16 = 1;\n        }\n        msg1 = {payload : \"\\{type\\:\\\"switch\\\"\\,status1\\:\" + status1.toString() + \n                                         \",status2\\:\" + status2.toString() + \n                                         \",status3\\:\" + status3.toString() + \n                                         \",status4\\:\" + status4.toString() + \n                                         \",status5\\:\" + status5.toString() + \n                                         \",status6\\:\" + status6.toString() + \n                                         \",status7\\:\" + status7.toString() + \n                                         \",status8\\:\" + status8.toString() + \n                                         \",status9\\:\" + status9.toString() + \n                                         \",status10\\:\" + status10.toString() + \n                                         \",status11\\:\" + status11.toString() + \n                                         \",status12\\:\" + status12.toString() + \n                                         \",status13\\:\" + status13.toString() + \n                                         \",status14\\:\" + status14.toString() + \n                                         \",status15\\:\" + status15.toString() + \n                                         \",status16\\:\" + status16.toString() + \n                                         \"\\}\"};\n                                         \n        if (status16 == 1) {\n            //如果灯被打开 延时关闭\n            msg2 = {payload : \"RELAY-SET-255, 16, 0\"};\n        }\n        return [msg1,msg2];\n    }\n}","outputs":2,"noerr":0,"x":1280,"y":500,"wires":[["bab392c7.ca108","f82155db.f2ba98"],["3cf45e9c.43b3a2"]]},{"id":"170e36d6.9994f9","type":"tcp request","z":"5101e40c.661f1c","server":"192.168.1.3","port":"4196","out":"time","splitc":"0","name":"","x":1020,"y":300,"wires":[["85f70c5d.87267","89d217ee.09e158"]]},{"id":"93c09602.e00b48","type":"mqtt in","z":"5101e40c.661f1c","name":"","topic":"gulch/cmd","qos":"2","datatype":"auto","broker":"7e5584be.9c037c","x":260,"y":300,"wires":[["f2555429.256208","af6370d8.cf285"]]},{"id":"a16c1f67.22e72","type":"function","z":"5101e40c.661f1c","name":"报文处理","func":"var type = msg.payload[\"type\"];\nvar msg1 = null, msg2 = null;\nif (type == \"switch\") {\n    var id = msg.payload[\"id\"];\n    var cmd = msg.payload[\"cmd\"];\n    if (id <= 16 ) {\n        \n        msg1 = {payload : \"RELAY-SET-255,\" + id + \",\" + cmd};\n        if (id == 16) {\n            //延时发送关门信息\n            msg2 = {payload : \"RELAY-SET-255, 16, 0\"};\n        }\n        \n    } else if (id == 255) {\n        if (cmd === 0) {\n            //关闭所有灯\n            msg1 = {payload : \"RELAY-SET_ALL-255,0,0\"};\n        } else if (cmd == 1) {\n            //打开所有灯\n            msg1 = {payload : \"RELAY-SET_ALL-255,127,255\"};\n        } else if (cmd == 2) {\n            //读取灯的状态\n            msg1 = {payload : \"RELAY-STATE-255\"};\n        }\n    }\n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":680,"y":420,"wires":[["170e36d6.9994f9"],[]]},{"id":"d9436d07.41493","type":"inject","z":"5101e40c.661f1c","name":"查询安装状态2s","topic":"","payload":"RELAY-STATE-255","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":100,"wires":[["170e36d6.9994f9"]]},{"id":"f2555429.256208","type":"json","z":"5101e40c.661f1c","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":300,"wires":[["a16c1f67.22e72"]]},{"id":"a55235a4.4da428","type":"inject","z":"5101e40c.661f1c","name":"打开第一路灯","topic":"","payload":"{\"type\":\"switch\",\"id\":1,\"cmd\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":840,"wires":[["6d6d592a.9cfc18"]]},{"id":"5d3a2415.1da23c","type":"inject","z":"5101e40c.661f1c","name":"关闭第一路灯","topic":"","payload":"{\"type\":\"switch\",\"id\":1,\"cmd\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":880,"wires":[["6d6d592a.9cfc18"]]},{"id":"6d6d592a.9cfc18","type":"mqtt out","z":"5101e40c.661f1c","name":"","topic":"gulch/cmd","qos":"","retain":"","broker":"7e5584be.9c037c","x":630,"y":880,"wires":[]},{"id":"b3ddd707.618638","type":"inject","z":"5101e40c.661f1c","name":"打开第一路灯","topic":"","payload":"RELAY-SET-255,1,1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":160,"wires":[["170e36d6.9994f9"]]},{"id":"6aac4b68.cea814","type":"inject","z":"5101e40c.661f1c","name":"关闭第一路灯","topic":"","payload":"RELAY-SET-255,1,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":220,"wires":[["170e36d6.9994f9"]]},{"id":"bab392c7.ca108","type":"mqtt out","z":"5101e40c.661f1c","name":"","topic":"gulch/result","qos":"","retain":"","broker":"7e5584be.9c037c","x":1530,"y":460,"wires":[]},{"id":"ff98685f.101b38","type":"inject","z":"5101e40c.661f1c","name":"打开全部灯","topic":"","payload":"{\"type\":\"switch\",\"id\":255,\"cmd\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1040,"wires":[["6d6d592a.9cfc18"]]},{"id":"642be242.9c48fc","type":"inject","z":"5101e40c.661f1c","name":"关闭全部灯","topic":"","payload":"{\"type\":\"switch\",\"id\":255,\"cmd\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1080,"wires":[["6d6d592a.9cfc18"]]},{"id":"3d192f4e.18b7f","type":"inject","z":"5101e40c.661f1c","name":"查询开关状态","topic":"","payload":"{\"type\":\"switch\",\"id\":255,\"cmd\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1120,"wires":[["6d6d592a.9cfc18"]]},{"id":"3d2b70c8.f5f73","type":"inject","z":"5101e40c.661f1c","name":"初始化","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":680,"wires":[["45bdec8b.d9a844"]]},{"id":"45bdec8b.d9a844","type":"function","z":"5101e40c.661f1c","name":"","func":"global.set(\"switch\",0); \nreturn msg;","outputs":1,"noerr":0,"x":500,"y":680,"wires":[[]]},{"id":"af6370d8.cf285","type":"debug","z":"5101e40c.661f1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":540,"wires":[]},{"id":"8ab4dc5.23cef2","type":"inject","z":"5101e40c.661f1c","name":"打开第十六路灯","topic":"","payload":"{\"type\":\"switch\",\"id\":16,\"cmd\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":920,"wires":[["6d6d592a.9cfc18"]]},{"id":"77b0bc08.069ed4","type":"inject","z":"5101e40c.661f1c","name":"关闭第十六路灯","topic":"","payload":"{\"type\":\"switch\",\"id\":16,\"cmd\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":960,"wires":[["6d6d592a.9cfc18"]]},{"id":"89d217ee.09e158","type":"function","z":"5101e40c.661f1c","name":"报文打印","func":"var str = msg.payload.toString();\nmsg.payload = str;\nreturn msg","outputs":1,"noerr":0,"x":1260,"y":160,"wires":[["fadf1609.80a6c8"]]},{"id":"fadf1609.80a6c8","type":"debug","z":"5101e40c.661f1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":160,"wires":[]},{"id":"23ceddfa.47d532","type":"debug","z":"5101e40c.661f1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":720,"wires":[]},{"id":"3cf45e9c.43b3a2","type":"delay","z":"5101e40c.661f1c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":640,"wires":[["23ceddfa.47d532","170e36d6.9994f9"]]},{"id":"7e5584be.9c037c","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]